
# {% if profile == "cs" %} Track 1: Computer Science Generalist Track {% else %} Track 2: Domain Science / Natural Science Track {% endif %}

::: {.content-visible when-format="html"}

## Module Descriptions (Linked)

{%- for module in modules %}
- [{{ module.name | replace("_", " ") }}]({{ module.file }})
{%- endfor %}

:::

## Suggested Course Program

| Type | Description | SWS | Sem 1 | Sem 2 | Sem 3 | Sem 4 |
|------|-------------|-----|------|------|------|------|
{% for semester in curriculum.semesters %}
{%- for lecture in semester.lectures %}
| {{ lecture.type }} | {{ lecture.name }} | {{ lecture.sws }} | {% if semester.number == 1 %} {{ lecture.ects }} {% else %} {% endif %} | {% if semester.number == 2 %} {{ lecture.ects }} {% else %} {% endif %} | {% if semester.number == 3 %} {{ lecture.ects }} {% else %} {% endif %} | {% if semester.number == 4 %} {{ lecture.ects }} {% else %} {% endif %} |
{%- endfor %}

{% endfor %}

**Total Curriculum ECTS: {{ curriculum.total_ects() }}**


::: {.content-visible when-format="pdf"}

{%- for module in modules %}

{{ module.content }}

{%- endfor %}

:::


