
# {% if profile == "cs" %} Track 1: Computer Science Generalist Track {% else %} Track 2: Domain Science / Natural Science Track {% endif %}

::: {.content-visible when-format="html"}

## Module Descriptions (Linked)

{%- for module in modules %}
- [{{ module.name | replace("_", " ") | title }}]({{ module.file }})
{%- endfor %}

:::

## Suggested Course Program

{% for semester in curriculum.semesters %}
### Semester {{ semester.number }}

| Type | Description | SWS | ECTS |
|------|-------------|-----|------|
{%- for lecture in semester.lectures %}
| {{ lecture.type }} | {{ lecture.name }} | {{ lecture.sws }} | {{ lecture.ects }} |
{%- endfor %}
**Total ECTS: {{ semester.total_ects() }}**

{% endfor %}

**Total Curriculum ECTS: {{ curriculum.total_ects() }}**


::: {.content-visible when-format="pdf"}

{%- for module in modules %}

{{ module.content }}

{%- endfor %}

:::


